CompileFlags:
    Add: [-xc++,-std=c++11]
    Remove: [-mfix-esp32-psram-cache-issue,-mlongcalls,-fstrict-volatile-bitfields,
        -fno-tree-switch-conversion]
Diagnostics:
    Suppress: [pp_file_not_found,ovl_no_viable_member_function_in_call,
        member_function_call_bad_type,typecheck_nonviable_condition]